NODE_ENV=production
PORT=5000
# MONGODB_URI=mongodb+srv://yousaf_shah:yousaf.shah123@cluster0.rew77ns.mongodb.net/em_boilerplate?appName=Cluster0
MONGODB_URI=mongodb://127.0.0.1:27017/user-management-nestjs
JWT_SECRET=super-secret-jwt-key
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
NODERED_URL=http://127.0.0.1:1880/packages_status